@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * { box-sizing: border-box; }
  body { font-family: 'Sarabun', system-ui, sans-serif; }

  /* Remove number input arrows */
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button { -webkit-appearance: none; }
  input[type='number'] { -moz-appearance: textfield; }
}
